beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
dnspython3==1.15.0
fake-useragent==0.1.11
Flask==2.0.0
idna==2.10
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
mysql-connector-python==8.0.24
protobuf==3.17.0
PyMySQL==1.0.2
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
urllib3==1.25.1
Werkzeug==2.0.0

setuptools~=56.2.0
dnspython~=1.15.0